@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #171717;
  --secondary-color: #fff;
  --tertiary-color: #eee;

  --side-bar-bg: #fafafa;
  --hover-primary-color: #eee;
  --active-nav-link-bg: #424242;
  
  --active-text: var(--secondary-color)
}

:root[data-theme='dark'] {
  --primary-color: #fff;
  --secondary-color: #171717;
  
  --side-bar-bg: #171717;
  --hover-primary-color: #212121;

  --active-text: var(--primary-color)
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

main {
  background-color: #fff
}

[data-theme='dark'] main {
  background-color: #212121
}

@layer utilities { 
  h1 {
    @apply text-[24px] md:text-[36px]
  }

  main {
    @apply p-4 flex-1
  }

  .active-link {
    @apply bg-[var(--active-nav-link-bg)] text-[var(--active-text)] font-medium
  }
  .active-link figure {
    @apply scale-125
  }

  .width-transition {
    transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1); /* Example transition duration and timing function */
  }
}
