@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --tertiary-color: #eee;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --secondary-color: #333;
  }
} */

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@layer utilities { 
  .active-link {
    @apply bg-[var(--primary-color)] text-[var(--secondary-color)] font-medium
  }
  .active-link figure {
    @apply scale-125
  }
}
